
<form [formGroup]="reactiveFormGroup">
  <mat-form-field
    class="form-field">
    <mat-label>Primitive Options</mat-label>

    <ngx-mat-select
      #selectBox
      clientSide
      [options]="options$ | async"
      [multiple]="true"
      [hasSearchBox]="true"
      [loading]="loading$ | async"
      formControlName="selectValue"
    >
    </ngx-mat-select>
  </mat-form-field>
  <code>

    <div>
      <b>Form Value</b>: {{reactiveFormGroup.value.selectValue}}
    </div>
    <div style="margin-bottom: 1rem"></div>

    <div>
      <b>Select Box Value</b>: {{selectBox.value}}
    </div>
  </code>

</form>
