<div>
<b>Using optionValue</b>

</div>

<mat-form-field
  class="form-field">
  <mat-label>using optionValue</mat-label>

  <ngx-mat-select
  clientSide
  #select1
  [options]="options"
  [multiple]="true"
  [hasSearchBox]="true"
  [optionLabel]="'name'"
  [optionValue]="'id'"
  (selectionChange)="onSelectionChange($event)"

>
</ngx-mat-select>
</mat-form-field>
<div>
  <code>
    select box Value : {{select1.value}}
  </code>
</div>


<div style="margin-bottom: 2.5rem"></div>

<div>
  <b>Using dataKey</b>
</div>
<mat-form-field
  class="form-field">
  <mat-label>using dataKey</mat-label>

  <ngx-mat-select
    #select2
    clientSide
    [options]="options"
    [multiple]="true"
    [hasSearchBox]="true"
    [optionLabel]="'name'"
    [dataKey]="'id'"
    (selectionChange)="onSelectionChange($event)"

  >
  </ngx-mat-select>
</mat-form-field>
<div>
  <code>
    select box Value : {{select2.value | json}}
  </code>
</div>
