<div>
  <div class="example-title">single select example(server side):</div>
  <p class="description">
    You can initial source by setting true for 'inFirstLoadCallSearcher'.
  </p>
</div>
<mat-form-field>
  <mat-select
    ngxMatSelect
    #ms="ngxMatSelect"
    [displayMember]="'value'"
    [valueMember]="'key'"
    [useInfiniteScroll]="true"
    [multiple]="false"
    [inFirstLoadCallSearcher]="true"
    [inFirstLoadSearcherValue]="''"
    [searcher]="searcher"
    [lazyLoad]="true"

  >
    <mat-option [value]="item" *ngFor="let item of ms.filteredSource">
      {{item.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
