<mat-card>
  <mat-card-header>
    <mat-card-title>
      Use Primitive Options
    </mat-card-title>
    <mat-card-subtitle>
      <ul>
        <li>
          You can use Primitives options like [0,1,2,3,...] or ['item-1', 'item-2', ...]
        </li>
      </ul>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <div class="ngx-mat-select-forms-container">

      <ng-container *ngIf="config.multiple">
        <form #templateDrivenForm="ngForm">
          <mat-form-field>
            <mat-label>
              Primitives Options
            </mat-label>
            <ngx-mat-select
              #selectBox1="ngModel"
              [ngModel]="defaultValue"
              name="multipleControl"
              clientSide
              [options]="options"
              [multiple]="config.multiple"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"
              [disabled]="config.disabled"
              [required]="config.required"

            >
            </ngx-mat-select>
          </mat-form-field>

          <div>
            <b>Form Value</b>: {{templateDrivenForm.value['multipleControl'] | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox1.value | json}}
          </div>
        </form>


      </ng-container>

      <ng-container *ngIf="!config.multiple">
        <form #templateDrivenForm="ngForm">
          <mat-form-field
            class="form-field">
            <mat-label> Primitives Options</mat-label>
            <ngx-mat-select
              #selectBox2
              clientSide
              [options]="options"
              [multiple]="false"
              [ngModel]="defaultValue[0]"
              name="singleControl"
              [required]="config.required"
              [disabled]="config.disabled"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"

            >
            </ngx-mat-select>

          </mat-form-field>
          <div>
            <b>Form Value</b>: {{templateDrivenForm.value['singleControl'] | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox2.value | json}}
          </div>
        </form>

      </ng-container>

    </div>
  </mat-card-content>
</mat-card>
