<div class="example-title">
  data bindings Example:
</div>
<ul>
  <li>
    <div>Use ngModel and Single select</div>
    <mat-form-field style="margin: 0 15px">
      <mat-select
        ngxMatSelect
        #ms="ngxMatSelect"
        [displayMember]="'value'"
        [valueMember]="'key'"
        [source]="list1"
        [useInfiniteScroll]="true"
        [(ngModel)]="value1"
      >
        <mat-option [value]="item" *ngFor="let item of ms.filteredSource">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
  <li>
    <div>Use ngModel and Multi select</div>
    <mat-form-field style="margin: 0 15px">
      <mat-select
        ngxMatSelect
        #ms2="ngxMatSelect"
        [displayMember]="'value'"
        [valueMember]="'key'"
        [source]="list2"
        [useInfiniteScroll]="true"
        [(ngModel)]="value2"
        [multiple]="true"
      >
        <mat-option [value]="item" *ngFor="let item of ms2.filteredSource">
          {{item.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </li>
  <!--  <hr/>-->
  <div style="margin-bottom: 40px"></div>
  <form [formGroup]="frm">
    <li>
      <div>Use FormControl and Single select</div>
      <mat-form-field style="margin: 0 15px">
        <mat-select
          ngxMatSelect
          #ms3="ngxMatSelect"
          [displayMember]="'value'"
          [valueMember]="'key'"
          [source]="list1"
          [useInfiniteScroll]="true"
          [formControlName]="'value3'"
        >
          <mat-option [value]="item" *ngFor="let item of ms3.filteredSource">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <span>Single select value: </span>
        {{frm?.get('value3')?.value.value}}

      </div>
      <div style="margin-bottom: 15px "></div>
    </li>
    <li>
      <div>Use FormControl and Multi select</div>
      <mat-form-field style="margin: 0 15px">
        <mat-select
          ngxMatSelect
          #ms4="ngxMatSelect"
          [displayMember]="'value'"
          [valueMember]="'key'"
          [source]="list2"
          [useInfiniteScroll]="true"
          formControlName="value4"
          [multiple]="true"
        >
          <mat-option [value]="item" *ngFor="let item of ms4.filteredSource">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </li>
    <div>
      <span>Multi select value: </span>
      {{getMultiValue}}

    </div>

  </form>
</ul>

