@use 'sass:map';
@use 'core/theming/theming';
@use 'core/style/private';
@use 'core/style/form-common';
@use 'core/typography/typography';
@use 'core/typography/typography-utils';


@mixin color($config-or-theme) {
  $config: theming.get-color-config($config-or-theme);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $warn: map.get($config, warn);

  $text-color: theming.get-color-from-palette($foreground, text);
  $icon-color: theming.get-color-from-palette($foreground, secondary-text);
  $primary-color: theming.get-color-from-palette($primary, text);
  $secondary-color: theming.get-color-from-palette($accent, text);
  $warn-color: theming.get-color-from-palette($warn, text);

  @include _ngx-mat-select-buttons($icon-color);
  @include _ngx-mat-select-search-box($icon-color, $primary-color, $secondary-color, $warn-color);

  .ngx-mat-select-value {
    color: $text-color;
  }

  .ngx-mat-select-placeholder {
    color: form-common.private-control-placeholder-color($config);
  }

  .ngx-mat-select-disabled .ngx-mat-select-value {
    color: theming.get-color-from-palette($foreground, disabled-text);
  }

  .ngx-mat-select-arrow {
    color: $icon-color;
  }

  .ngx-mat-select-panel {
    background: theming.get-color-from-palette($background, card);
    @include private.private-theme-overridable-elevation(4, $config);

    .mat-option.ngx-mat-selected:not(.mat-option-multiple) {
      background: theming.get-color-from-palette($background, hover, 0.12);
    }
  }

  .mat-form-field {
    &.mat-focused {
      &.mat-primary .ngx-mat-select-arrow {
        color: theming.get-color-from-palette($primary, text);
      }

      &.mat-accent .ngx-mat-select-arrow {
        color: theming.get-color-from-palette($accent, text);
      }

      &.mat-warn .ngx-mat-select-arrow {
        color: theming.get-color-from-palette($warn, text);
      }
    }

    .ngx-mat-select.ngx-mat-select-invalid .ngx-mat-select-arrow {
      color: theming.get-color-from-palette($warn, text);
    }

    .ngx-mat-select.ngx-mat-select-disabled .ngx-mat-select-arrow {
      color: theming.get-color-from-palette($foreground, disabled-text);
    }
  }
}

@mixin typography($config-or-theme) {
  $config: typography.private-typography-to-2014-config(
      theming.get-typography-config($config-or-theme));
  // The unit-less line-height from the font config.
  $line-height: typography-utils.line-height($config, input);

  .ngx-mat-select {
    font-family: typography-utils.font-family($config);
  }

  .ngx-mat-select-trigger {
    height: typography-utils.private-coerce-unitless-to-em($line-height);
  }
}

@mixin _density($config-or-theme) {
}

@mixin theme($theme-or-color-config) {
  $theme: theming.private-legacy-get-theme($theme-or-color-config);
  @include theming.private-check-duplicate-theme-styles($theme, 'ngx-mat-select') {
    $color: theming.get-color-config($theme);
    $density: theming.get-density-config($theme);
    $typography: theming.get-typography-config($theme);

    @if $color != null {
      @include color($color);
    }
    @if $density != null {
      @include _density($density);
    }
    @if $typography != null {
      @include typography($typography);
    }
  }
}


@mixin _ngx-mat-select-buttons($surface-color) {
  .ngx-mat-select-back-button {
    svg {
      stroke: rgba($surface-color, 0.54);
    }
  }
}

@mixin _ngx-mat-select-search-box($surface-color, $primary, $secondary, $error) {
  .ngx-mat-select-search-box {
    border-color: rgba($surface-color, 0.38);
  }

  .mat-primary .ngx-mat-select-search-box--focused {
    border-color: rgba($primary, 1);
    outline-color: rgba($primary, 1);
  }

  .mat-accent .ngx-mat-select-search-box--focused {
    border-color: rgba($secondary, 1);
    outline-color: rgba($secondary, 1);
  }

  .mat-warn .ngx-mat-select-search-box--focused {
    border-color: rgba($error, 1);
    outline-color: rgba($error, 1);
  }

  .ngx-mat-select-search-box-icon {
    fill: rgba($surface-color, 0.54);
  }


  .ngx-mat-select-search-box-input {
    &::placeholder {
      color: rgba($surface-color, 0.6);
    }

    caret-color: $primary;
    color: rgba($surface-color, 0.87);
  }
}
