<div>
  <div class="example-title">infinite scroll example(server side):</div>
  <div class="description">
    <ul>
      <li>Important for server side searching dont change source, recommended use searcher</li>
      <li>you can search manually by using 'Searcher' in client side</li>
    </ul>
  </div>
</div>
<mat-form-field>
  <mat-select
    ngxMatSelect
    #ms="ngxMatSelect"
    [displayMember]="'value'"
    [valueMember]="'key'"
    [useInfiniteScroll]="true"
    [lazyLoad]="true"
    [searcher]="searcher"
    [inFirstLoadCallSearcher]="true"
    [multiple]="true"
  >
    <mat-option [value]="item" *ngFor="let item of ms.filteredSource">
      {{item.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
