<div>
  <div class="example-title">
    Infinite Scroll Example(client side):

  </div>
  <p class="description">First of all, fill 'Source' Input then 'NgxMatSelect' automatically search on 'displayMember'
    and
    paging </p>
</div>
<mat-form-field>
  <mat-select
    ngxMatSelect
    #ms="ngxMatSelect"
    [displayMember]="'value'"
    [valueMember]="'key'"
    [source]="list"
    [useInfiniteScroll]="true"
  >
    <mat-option [value]="item" *ngFor="let item of ms.filteredSource">
      {{item.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
