:host {
  margin: 1rem;
  display: block;
}

.ngx-mat-select-config-container {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  flex-direction: column;
  grid-gap: 32px;
}

.ngx-mat-select-toggle-configs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 32px;
  flex-wrap: wrap;
}

.ngx-mat-select-more-configs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 2rem;
  align-items: center;
}

mat-form-field {
  max-width: 550px;
}
