<h2 style="width: 320px;margin: auto">ngx mat select examples</h2>
<div class="examples">
  <div>
    <div class="example-title">
      Set Configs by token:
    </div>
    <iframe style="height: 520px" #iframe1 type="text/javascript"></iframe>

  </div>
  <div>
    <div class="example-title">
      set configs in root of project (in lazy load module):
    </div>
    <iframe style="height: 520px" #iframe2 type="text/javascript"></iframe>

  </div>

  <div>
    <app-infinite-scroll-example></app-infinite-scroll-example>
  </div>
  <div>
    <app-infinite-scroll-server-side-example></app-infinite-scroll-server-side-example>
  </div>
  <div>
    <app-mobile-view-example></app-mobile-view-example>
  </div>
  <div>
    <app-multi-select-example></app-multi-select-example>
  </div>
  <div>
    <app-single-select-example></app-single-select-example>
  </div>
  <div>
    <app-data-bindings-example></app-data-bindings-example>
  </div>
</div>
<div style="margin-bottom: 240px"></div>
