<form [formGroup]="reactiveFormGroup">
  <mat-form-field
    class="form-field">
    <mat-label>Reactive Form</mat-label>

    <ngx-mat-select
      #selectBox
      clientSide
      [options]="options"
      [multiple]="true"
      [hasSearchBox]="true"
      [optionLabel]="'name'"
      [dataKey]="'id'"
      formControlName="selectValue"
    >
    </ngx-mat-select>
  </mat-form-field>
  <code>

    <div>
      <b>Form Value</b>: {{reactiveFormGroup.value.selectValue | json}}
    </div>
    <div style="margin-bottom: 1rem"></div>

    <div>
      <b>Select Box Value</b>: {{selectBox.value | json}}
    </div>
  </code>
</form>

