<div>
  <div class="example-title">mobile view example:</div>
  <div class="description">
    <!--    mobile view in two way :-->
    <ul>
      <li>Full Screen</li>
      <li>Bottom Sheet</li>
    </ul>
    <i style="margin: 10px 0;color: red">mobile view works in width of lower than 600px, this width is configurable.</i>
  </div>

</div>
<div style="margin-bottom: 30px"></div>
<div>
  <div class="description">Full Screen view:</div>

  <mat-form-field>
    <mat-select
      ngxMatSelect
      #ms="ngxMatSelect"
      [displayMember]="'value'"
      [valueMember]="'key'"
      [useInfiniteScroll]="true"
      [lazyLoad]="true"
      [searcher]="searcher"
      [inFirstLoadCallSearcher]="true"
      [useMobileView]="true"
      mobileViewType="FullScreen"
    >
      <mat-option [value]="item" *ngFor="let item of ms.filteredSource">
        {{item.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div style="margin-bottom: 30px"></div>
<div>
  <div class="description">Bottom Sheet view: (<b style="color: red">dont use Infinite Scroll
    or search box in Bottom Sheet view</b>)
  </div>
  <mat-form-field>
    <mat-select
      ngxMatSelect
      #ms2="ngxMatSelect"
      [displayMember]="'value'"
      [valueMember]="'key'"
      [useInfiniteScroll]="false"
      [hasSearchBox]="false"
      [source]="list"
      [useMobileView]="true"
      mobileViewType="BottomSheet"
    >
      <mat-option [value]="item" *ngFor="let item of ms2.filteredSource">
        {{item.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

