<mat-card>
  <mat-card-header>
    <mat-card-title>
      Client Side
    </mat-card-title>
    <mat-card-subtitle>
      <ul>
        <li>You need to use Client-Side mode When there is no problem in loading all options at once in terms of the
          size
          of
          the options.
        </li>
        <li>
          Feel free to use primitives value in Client-Side mode, because all the options will be loaded at once and
          ngx-mat-Select can find all the display-members from them
        </li>
        <li>
          ngx-mat-Select always takes advantage of virtual scroll that means don't worry about the rendered
          options in
          the DOM
        </li>
      </ul>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="ngx-mat-select-forms-container">
      <ng-container *ngIf="config.multiple">
        <form  [formGroup]="reactiveFormGroup">
          <mat-form-field
            class="form-field">
            <mat-label>Reactive Forms</mat-label>
            <ngx-mat-select
              #selectBox1
              clientSide
              [options]="options"
              [multiple]="true"
              formControlName="multipleControl"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [optionLabel]="config.optionLabel"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"

            >
            </ngx-mat-select>

          </mat-form-field>
          <div>
            <b>Form Value</b>: {{reactiveFormGroup.value.multipleControl | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox1.value | json}}
          </div>

        </form>
        <form #templateDrivenForm="ngForm">
          <mat-form-field
            class="form-field">
            <mat-label> Template Driven Form</mat-label>
            <ngx-mat-select
              #selectBox2
              clientSide
              [options]="options"
              [multiple]="true"
              [ngModel]="defaultValue"
              name="multipleControl"
              [required]="config.required"
              [disabled]="config.disabled"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [optionValue]="config.optionValue"
              [optionLabel]="config.optionLabel"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"

            >
            </ngx-mat-select>

          </mat-form-field>
          <div>
            <b>Form Value</b>: {{templateDrivenForm.value['multipleControl'] | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox2.value | json}}
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="!config.multiple">
        <form [formGroup]="reactiveFormGroup">
          <mat-form-field
            class="form-field">
            <mat-label>Reactive Form</mat-label>
            <ngx-mat-select
              #selectBox1
              clientSide
              [options]="options"
              [multiple]="false"
              formControlName="singleControl"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [dataKey]="config.dataKey"
              [optionLabel]="config.optionLabel"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"
            >
            </ngx-mat-select>

          </mat-form-field>
          <div>
            <b>Form Value</b>: {{reactiveFormGroup.value.singleControl | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox1.value | json}}
          </div>

        </form>
        <form #templateDrivenForm="ngForm">
          <mat-form-field
            class="form-field">
            <mat-label> Template Driven Form</mat-label>
            <ngx-mat-select
              #selectBox2
              clientSide
              [options]="options"
              [multiple]="false"
              [ngModel]="defaultValue[0]"
              name="singleControl"
              [required]="config.required"
              [disabled]="config.disabled"
              [hasSearchBox]="config.hasSearchBox"
              [hasBackButton]="config.hasBackButton"
              [viewType]="config.viewType"
              [placeholder]="config.placeholder"
              [multipleDisplay]="config.multipleDisplay"
              [optionValue]="config.optionValue"
              [optionLabel]="config.optionLabel"
              [searchBoxPlaceholder]="config.searchBoxPlaceholder"
              [optionHeight]="config.optionHeight"
              [panelHeight]="config.panelHeight"
              [panelWidth]="config.panelWidth"
            >
            </ngx-mat-select>

          </mat-form-field>
          <div>
            <b>Form Value</b>: {{templateDrivenForm.value['singleControl'] | json}}
          </div>
          <div>
            <b>Select Box Value</b>: {{selectBox2.value | json}}
          </div>
        </form>

      </ng-container>
    </div>

  </mat-card-content>


</mat-card>
