<mat-card>
  <mat-card-header>
    <mat-card-title>
      Global Config
    </mat-card-title>
    <mat-card-subtitle>
      <ul>
        <li>
          You can provide NGX_MAT_SELECT_CONFIG in your root, then all the configurable default values turn to them
        </li>
        <li>
          Pay attention that if you've set some configuration through inputs of the Select, the inputs prioritize
        </li>
      </ul>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
</mat-card>
