<div *ngIf="config" class="ngx-mat-select-config-container">

  <div class="ngx-mat-select-toggle-configs">
    <mat-slide-toggle (toggleChange)="onThemeModeChange()" [checked]="darkMode">
      Dark Mode?
    </mat-slide-toggle>

    <mat-slide-toggle [checked]="config.multiple"
                      (toggleChange)="onConfigChange('multiple', !config.multiple)">
      Is Multiple Select?
    </mat-slide-toggle>

    <mat-slide-toggle [checked]="config.required"
                      (toggleChange)="onConfigChange('required', !config.required)">
      Is required?
    </mat-slide-toggle>

    <mat-slide-toggle [checked]="config.hasSearchBox"
                      (toggleChange)="onConfigChange('hasSearchBox', !config.hasSearchBox)">
      Has Search-box?
    </mat-slide-toggle>

    <mat-slide-toggle [checked]="config.disabled"
                      (toggleChange)="onConfigChange('disabled', !config.disabled)">
      Disabled?
    </mat-slide-toggle>

    <button style="margin: auto; width: 250px" color="primary" (click)="clearForms.emit()" mat-raised-button>
      Reset Forms
    </button>

  </div>

  <div class="ngx-mat-select-more-configs">

    <mat-form-field>
      <mat-label>Multiple Display Type</mat-label>
      <mat-select [disabled]="!config.multiple" [value]="config.multipleDisplay"
                  [placeholder]="'select Multiple Display Type'" [multiple]="false"
                  (selectionChange)="onConfigChange('multipleDisplay', $event.value)">
        <mat-option [value]="null">None</mat-option>
        <mat-option
          [value]="display"

          *ngFor="let display of multipleViewType">{{display}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        placeholder
      </mat-label>


      <input matInput type="text" [ngModel]="config.placeholder"
             (change)="onConfigChange('placeholder', $event.target['value'])"/>
    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Search-Box placeholder
      </mat-label>

      <input matInput type="text" [ngModel]="config.searchBoxPlaceholder"
             (change)="onConfigChange('searchBoxPlaceholder', $event.target['value'])"/>
    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Option Height
      </mat-label>

      <input matInput type="number" [ngModel]="config.optionHeight"
             (change)="onConfigChange('optionHeight', $event.target['value'])"/>
      <mat-hint>
        it can be a number
      </mat-hint>

    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Panel Height
      </mat-label>

      <input matInput type="number" [ngModel]="config.panelHeight"
             (change)="onConfigChange('panelHeight',  $event.target['value'])"/>
      <mat-hint>
        it can be a number
      </mat-hint>

    </mat-form-field>

    <mat-form-field>

      <mat-label>
        Panel Width
      </mat-label>

      <input matInput type="text" [ngModel]="config.panelWidth"
             (change)="onConfigChange('panelWidth' ,getDimension($event.target['value']))"/>
      <mat-hint>
        it can be in px or number or 'auto', the default value is 'auto'
      </mat-hint>

    </mat-form-field>

  </div>

</div>

